.venster{
    display: none;
 position: fixed;
z-index: 1;
padding-top: 30vh;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(132, 160, 218, 0.4);
}
.content{
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 1px black;
    width: 70%;
    opacity: 0.9;

}